*{
	margin: 0;
	padding: 0;
}
.main{
	margin: auto;
	width: 80%;
	height: 1000px;
	background: #b1b1b18f;
	text-align: center;
	padding-top: 300px;
}

.btn1{
	color: white;
	background: green;
	margin-bottom: 30px;
}